.container{
    width: 50%;
    height: 50%;
    background-color: bisque;
}
.container.card{
    width: 50%;
    height: 50%;
    text-align: center;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
}